
<div class="contact">
  <p>
  Bonjour,
  </p>

  <p>
  Je m'appelle Hélène et j'ai réalisé ce site internet gratuit. Je l'ai réalisé suite à une formation au Wagon Paris. Je faisais partie du batch #200.
  Si vous avez une idée d'amélioration pour ce site ou si vous rencontrez un problème, vous pouvez me contacter sur <a href="https://www.linkedin.com/in/hélène-lioussou-86a143a2">LinkedIn</a>.
  </p>


  <p>
  Pour le moment, ce site est gracieux, et je ne saurais en assurer la viabilité à très long terme. Si ce site vous intéresse, faites-moi part de votre intérêt.
  </p>

  <p>
  Je vous remercie pour votre venue sur le site levindemonsieurjean.com et espère vous compter parmi les utilisateurs récurrents.
  </p>

  <p>Hélène</p>
</div>

