.navbar-vin {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-font {
  font-family: 'Great Vibes', cursive;
  margin-top: 18px;
  color: black;
}

.navbar-font h1 {
  text-decoration: none;
  color: black;
}

.addwine img {
  height: 40px;
  position: fixed;
  top: 110px;
  right: 20px;
  background-color: white;
  padding: 3px;
  border-radius: 50px;

}

.login {
  position: absolute;
  top: 30px;
  right: 30px;
}

.siginimage {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 80px;
}
