.cave_box_cambou {
  display: flex;
  height: 300px;
  width: 100vw;
  background-image: url("cambou.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.cave_box_cambou:hover {
  background: linear-gradient(to right, rgba(178, 137, 82, 0.3), rgba(144, 30, 41, 0.1)), url(cambou.jpg);
  background-size: cover;
}


.cave_box_text {
  margin: 20px 10px;
}

.cave_box_text h2 {
  font-family: 'Great Vibes', cursive !important;
  color: white;
  text-decoration: none;
  text-shadow: 1px 2px 3px rgba(0,0,0, 0.8);

}

a:hover {
  text-decoration: none;
}


.cave_box_gaylussac {
  display: flex;
  height: 300px;
  width: 100vw;
  background-image: url("gaylussac.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.cave_box_gaylussac:hover {
  background: linear-gradient(to right, rgba(178, 137, 82, 0.3), rgba(144, 30, 41, 0.1)), url(gaylussac.jpg);
  background-size: cover;
}

.clickable-card {
  margin-bottom: 5px;
}

.cave_box_newcellar {
  display: flex;
  height: 300px;
  width: 100vw;
  background-image: url("images/newcellar.jpeg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.cave_box_newcellar:hover {
  background: linear-gradient(to right, rgba(178, 137, 82, 0.3), rgba(144, 30, 41, 0.1)), url(images/newcellar.jpeg);
  background-size: cover;
}
