.etiquette {
  background-color: #FFFFFF;
  margin-top: 5px;
  width : 700px;

}

.etiquette_image {
  position: absolute;
}

.bottle_info {
  padding-top : 150px;
  padding-left: 40px;
  padding-right: 40px;
  height: 550px;
  text-align: center;
}

.edit_bottle {
  display: flex;
  flex-direction: row;
}

.huge {
  font-size: 30px !important;
}

.hugeX {
  font-size: 60px !important;
}

.bu {
  margin-left: 10px;
  padding: 10px 10px;

}

